/*---------------------------------------------------- HEADER ---------------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap");
.logo-img {
  width: 100px;
  height: 100px;
  padding: 10px;
}

.nav-container {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 120px;
  background-color: #3E8A53;
}

.container-fluid {
  font-size: 30px;
  background-color: #3E8A53;
}

.nav-item a:hover {
  color: #A9F291;
}

#header-button.navbar-toggler {
  border: none;
}

/*---------------------------------------------------- HOME -----------------------------------------------------------------------*/
.home-content {
  display: flex;
  flex-direction: column;
  font-size: 24px;
}
@media only screen and (max-width: 768px) {
  .home-content {
    font-size: 16px;
  }
}

.home-title {
  align-self: center;
  width: 50%;
  padding-bottom: 20px;
  border-bottom: #3E8A53 2px solid;
  animation: bounce-top 0.9s both;
}
@media only screen and (max-width: 768px) {
  .home-title {
    display: none;
  }
}

.home-main {
  text-align: center;
}
.home-main h1 {
  color: #3E8A53;
  font-size: 68px;
  text-align: center;
  font-weight: 600;
  text-shadow: 1px 1px 5px #F4EE91;
}
@media only screen and (max-width: 768px) {
  .home-main h1 {
    font-size: 28px;
  }
}

.img-main-section {
  display: flex;
  justify-content: center;
}
.img-main-section :nth-child(2) {
  margin: 0 3%;
}
.img-main-section img {
  width: 25%;
}
@media only screen and (max-width: 768px) {
  .img-main-section img {
    width: 30%;
  }
}

.home-section-1, .home-section-2 {
  display: flex;
}
.home-section-1 img, .home-section-2 img {
  width: 50%;
  align-self: center;
}
@media only screen and (max-width: 768px) {
  .home-section-1 img, .home-section-2 img {
    width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .home-section-1, .home-section-2 {
    flex-direction: column;
    text-align: center;
  }
}

.home-section-1 {
  padding: 20px 0;
}
@media only screen and (max-width: 768px) {
  .home-section-1 {
    margin: 20px 0;
    border-top: #A9F291 5px solid;
    border-bottom: #A9F291 5px solid;
  }
}

.home-section-2 {
  flex-direction: row-reverse;
  text-align: right;
}

.section-1-text, .section-2-text {
  align-self: center;
}
.section-1-text h2, .section-2-text h2 {
  color: #3E8A53;
  font-size: 68px;
}
@media only screen and (max-width: 768px) {
  .section-1-text h2, .section-2-text h2 {
    font-size: 28px;
  }
}

@keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
    transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-24px);
    transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  25%, 55%, 75%, 87% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
}
/*-------------------------------------------------- PRODUCTS ----------------------------------------------------------------------*/
.plants-section {
  display: grid;
  grid-template-areas: "title title title" "card1 card2 card3" "card4 card5 card6";
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto 1fr 1fr;
  gap: 1rem;
}
.plants-section .carousel {
  display: none;
}

.plants-section-title {
  grid-area: title;
  text-align: center;
  font-size: 24px;
}
.plants-section-title h2 {
  color: #3E8A53;
  font-size: 68px;
}
.plants-section-title:nth-child(2) {
  grid-area: card1;
}
.plants-section-title:nth-child(3) {
  grid-area: card2;
}
.plants-section-title:nth-child(4) {
  grid-area: card3;
}
.plants-section-title:nth-child(5) {
  grid-area: card4;
}
.plants-section-title:nth-child(6) {
  grid-area: card5;
}
.plants-section-title:nth-child(7) {
  grid-area: card6;
}

.products-section {
  display: grid;
  grid-template-areas: "title title title" "card1 card2 card3";
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto 1fr;
  gap: 1rem;
}
.products-section:nth-child(2) {
  grid-area: card1;
}
.products-section:nth-child(3) {
  grid-area: card2;
}
.products-section:nth-child(4) {
  grid-area: card3;
}
.products-section .carousel {
  display: none;
}

.products-section-title {
  grid-area: title;
  text-align: center;
  font-size: 24px;
}
.products-section-title h2 {
  color: #3E8A53;
  font-size: 68px;
}

.card-img-top {
  height: 300px;
  object-fit: cover;
}

.card-body {
  text-align: center;
}
.card-body h5, .card-body a {
  color: #3E8A53;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: none;
}
.card-body a:hover {
  padding: 0 10px;
  background-color: #F4EE91;
  border-radius: 50px;
}

@media only screen and (max-width: 768px) {
  .plants-section-title p, .products-section-title p {
    font-size: 18px;
  }
  .plants-section-title h2, .products-section-title h2 {
    font-size: 28px;
    font-weight: 600;
  }
  .plants-section > .card, .products-section > .card {
    display: none;
  }
  .plants-section, .products-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .plants-section .carousel, .products-section .carousel {
    display: flex;
  }
  .card-body a:active {
    padding: 0 10px;
    background-color: #F4EE91;
    border-radius: 50px;
  }
}
/*----------------------------------------------------- SHOP ----------------------------------------------------------------------*/
.shopping-bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.shopping-buttons {
  display: flex;
  justify-content: flex-end;
  width: 30%;
}

.filter-box {
  height: 50px;
  padding: 10px;
  background-color: #A9F291;
  border-radius: 50px;
}

.shop-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.shop-content h2 {
  color: #3E8A53;
  font-size: 68px;
  text-align: center;
}

.search-bar, .filter-box, .shopping-cart {
  display: flex;
  align-items: center;
  font-size: 25px;
}

.search-bar p, .filter-box p {
  margin-top: 1rem;
  padding: 0 10px;
  color: #3E8A53;
}

.search-bar {
  width: 50%;
  height: 50px;
  padding: 0 10px;
  background-color: #A9F291;
  border-radius: 50px;
}

.shopping-cart {
  height: 50px;
  margin-left: 10px;
  padding: 10px;
  background-color: #A9F291;
  border-radius: 50px;
}

.card-img-top {
  padding-bottom: 10px;
}

.card-body h5:nth-of-type(2) {
  color: #A9F291;
}

.shop-cards-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

@media only screen and (max-width: 768px) {
  .shop-content h2 {
    font-size: 28px;
    font-weight: 600;
  }
  .shop-cards-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .filter-box p {
    display: none;
  }
  .search-bar p {
    font-size: 20px;
  }
}
/*---------------------------------------------------- LIBRARY --------------------------------------------------------------------*/
.library-bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.library-section h2 {
  color: #3E8A53;
  font-size: 68px;
  text-align: center;
}
@media only screen and (max-width: 768px) {
  .library-section h2 {
    font-size: 28px;
    font-weight: 600;
  }
}

.library-list {
  display: flex;
  flex-direction: column;
}

.list-titles, .list-items {
  display: grid;
  grid-template-columns: auto 25% 7% 20% 5%;
}

.list-titles {
  color: #3E8A53;
  font-size: 30px;
  font-weight: 700;
}

.list-items {
  padding-top: 10px;
  color: #3E8A53;
  font-size: 26px;
  font-weight: 400;
}
.list-items:hover {
  background-color: rgba(169, 242, 145, 0.3137254902);
}
.list-items:not(:last-child) {
  border-bottom: #A9F291 1px solid;
}
@media only screen and (max-width: 768px) {
  .list-items {
    grid-template-columns: repeat(8, 1fr);
    grid-template-areas: "title title title title title title title title" "empty empty empty empty autor autor autor link";
  }
}

.link {
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 768px) {
  .link {
    grid-area: link;
  }
}

.year, .downloads, .link {
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .list-titles, .year, .downloads {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .title {
    grid-area: title;
    font-size: 20px;
    font-weight: 600;
  }
}

@media only screen and (max-width: 768px) {
  .autor {
    grid-area: autor;
    font-size: 20px;
    font-style: italic;
  }
}

/*--------------------------------------------------- CONTACT ---------------------------------------------------------------------*/
.contact-content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas: "title title" "message data";
}
.contact-content h2 {
  color: #3E8A53;
  font-size: 68px;
  grid-area: title;
  text-align: center;
}
@media only screen and (max-width: 768px) {
  .contact-content h2 {
    font-size: 28px;
    font-weight: 600;
    text-align: center;
  }
}
@media only screen and (max-width: 768px) {
  .contact-content {
    display: flex;
    flex-direction: column;
  }
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  grid-area: message;
}
.contact-form h3 {
  color: #3E8A53;
  font-size: 28px;
}
@media only screen and (max-width: 768px) {
  .contact-form h3 {
    font-size: 22px;
  }
}
.contact-form div label {
  font-size: 20px;
  color: #3E8A53;
}
@media only screen and (max-width: 768px) {
  .contact-form div label {
    font-size: 16px;
  }
}
@media only screen and (max-width: 768px) {
  .contact-form {
    width: 90%;
  }
}

.name-input, .email-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#name, #email {
  width: 85%;
  height: 50px;
  margin: 10px 0;
  padding: 0 20px;
  background-color: #A9F291;
  border: none;
  border-radius: 50px;
}

.message-box {
  min-height: 200px;
  max-height: 500px;
  margin-top: 10px;
  padding: 20px;
  background-color: #A9F291;
  border: none;
  border-radius: 20px;
}

.submit-input {
  width: fit-content;
  align-self: flex-end;
  margin: 10px 0;
  padding: 0 10px;
  font-size: 20px;
  color: #3E8A53;
  font-weight: 600;
  text-transform: uppercase;
  background-color: white;
  border: none;
}
.submit-input:hover {
  padding: 0 10px;
  background-color: #F4EE91;
  border-radius: 50px;
}
@media only screen and (max-width: 768px) {
  .submit-input:active {
    padding: 0 10px;
    background-color: #F4EE91;
    border-radius: 50px;
  }
}
@media only screen and (max-width: 768px) {
  .submit-input {
    font-size: 16px;
  }
}

.contact-data {
  grid-area: data;
}
.contact-data ul {
  color: #3E8A53;
  list-style-type: none;
}
.contact-data ul li img {
  padding-right: 10px;
}
.contact-data ul li:not(:last-child) {
  padding-bottom: 10px;
}

.map {
  width: 100%;
  height: 200px;
  border-radius: 20px;
}

@media only screen and (max-width: 768px) {
  .contact, .social-media {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .map-section li h3 {
    font-size: 28px;
    font-weight: 600;
    text-align: center;
  }
}
@media only screen and (max-width: 768px) {
  .map-section {
    padding: 0;
  }
}

/*---------------------------------------------------- FOOTER ---------------------------------------------------------------------*/
.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #3E8A53;
}

.info-container {
  display: flex;
  justify-content: space-around;
  color: white;
}
.info-container ul {
  padding-top: 20px;
  font-size: 16px;
  list-style-type: none;
}
.info-container ul li {
  padding-bottom: 10px;
}
.info-container ul li h3 {
  font-size: 30px;
  text-transform: uppercase;
  color: #F4EE91;
}
@media only screen and (max-width: 768px) {
  .info-container ul li h3 {
    font-size: 24px;
  }
}
.info-container ul li img {
  max-width: 40px;
  min-width: 20px;
  width: 10%;
  padding-right: 10px;
}
@media only screen and (max-width: 768px) {
  .info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
  }
}

.footer-section {
  width: 30%;
}
@media only screen and (max-width: 768px) {
  .footer-section {
    width: 50%;
  }
}

.media-icons {
  display: none;
}
@media only screen and (max-width: 768px) {
  .media-icons a:active {
    background-color: #A9F291;
    border-radius: 50px;
  }
}
@media only screen and (max-width: 768px) {
  .media-icons a {
    padding: 10px;
  }
}
@media only screen and (max-width: 768px) {
  .media-icons {
    display: flex;
    justify-content: center;
  }
}

.copyright-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: #A9F291;
}

@media only screen and (max-width: 768px) {
  .media-info {
    display: none;
  }
}

* {
  margin: 0;
  padding: 0;
  font-family: "Rajdhani", sans-serif;
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
}

/*---------------------------------------------- CONTENT CONTAINER ----------------------------------------------------------------*/
.content-container {
  align-self: center;
  width: 90%;
  margin: 50px 0;
  padding-top: 120px;
}
@media only screen and (max-width: 768px) {
  .content-container {
    width: 100%;
  }
}

.wapp {
  position: fixed;
  bottom: 50px;
  right: 50px;
}
.wapp img {
  width: 75px;
  height: 75px;
  padding: 10px;
  border-radius: 50%;
  background-color: #3E8A53;
  animation: pulse 4s linear infinite;
}
@media only screen and (max-width: 768px) {
  .wapp {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .home-content > section, .section-1-text, .section-2-text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .home-main p, .section-1-text p, .section-2-text p {
    width: 90%;
  }
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #A9F291, 0 0 0 0 #A9F291;
  }
  25% {
    box-shadow: 0 0 0 10px rgba(169, 242, 145, 0.1254901961), 0 0 0 5px rgba(169, 242, 145, 0.1254901961);
  }
  50% {
    box-shadow: 0 0 0 20px rgba(169, 242, 145, 0.1254901961), 0 0 0 0 #A9F291;
  }
  75% {
    box-shadow: 0 0 0 20px rgba(169, 242, 145, 0.1254901961), 0 0 0 10px rgba(169, 242, 145, 0.1254901961);
  }
  100% {
    box-shadow: 0 0 0 20px rgba(169, 242, 145, 0.1254901961), 0 0 0 10px rgba(169, 242, 145, 0.1254901961);
  }
}

/*# sourceMappingURL=style.css.map */
