// Globals
@import './base/variables';
@import './base/extends';
@import './base/mixins';
// Partials
@import './components/header';
@import './components/home';
@import './components/products';
@import './components/shop';
@import './components/library';
@import './components/contact';
@import './components/footer';
// Fonts
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Rajdhani', sans-serif;
    text-decoration: none;
}

body {
    @include flex (column);
}

/*---------------------------------------------- CONTENT CONTAINER ----------------------------------------------------------------*/

.content-container {
    align-self: center;
    width: 90%;
    margin: 50px 0;
    padding-top: 120px;

    @media only screen and (max-width: 768px) {
        width: 100%;
    }
}

.wapp {
    position: fixed;
    bottom: 50px;
    right: 50px;
    img {
        width: 60px;
        height: 60px;
        padding: 10px;
        border-radius: 50%;
        background-color: map-get($colors, main);
        animation: pulse 4s linear infinite;
        &:hover {
            animation: none;
        }
    }
    @media only screen and (max-width: 768px) {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    .home-content>section, .section-1-text, .section-2-text {
        @include flex (column, flex-start, center);
    }

    .home-main, .section-1-text, .section-2-text {
        p {
            width: 90%;
        }
    }
}
// Pulse animation
@keyframes pulse {
    0% {
        box-shadow:
        0 0 0 5px #A9F29100,
        0 0 0 5px #3E8A5300;
    }
    10% {
        box-shadow:
        0 0 2px 10px #A9F29180,
        0 0 2px 5px #3E8A5380;
    }
    20% {
        box-shadow:
        0 0 2px 20px #A9F29180,
        0 0 2px 0 #3E8A5380;
    }
    30% {
        box-shadow:
        0 0 2px 20px #A9F29180,
        0 0 2px 10px #3E8A5380;
    }
    40% {
        box-shadow:
        0 0 0 0 #A9F29180,
        0 0 0 0 #3E8A5380;
    }
    50% {
        box-shadow:
        0 0 2px 15px #A9F29180,
        0 0 2px 5px #3E8A5380;
    }
    60% {
        box-shadow:
        0 0 0 0 #A9F29180,
        0 0 0 0 #3E8A5380;
    }
}
