@import './base/variables';

@import './components/header';
@import './components/home';
@import './components/products';
@import './components/shop';
@import './components/library';
@import './components/contact';
@import './components/footer';

@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Rajdhani', sans-serif;
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
}

/*---------------------------------------------- CONTENT CONTAINER ----------------------------------------------------------------*/

.content-container {
    align-self: center;
    width: 90%;
    margin: 50px 0;
    padding-top: 120px;

    @media only screen and (max-width: 768px) {
        width: 100%;
    }
}

.wapp {
    position: fixed;
    bottom: 50px;
    right: 50px;
    img {
        width: 75px;
        height: 75px;
        padding: 10px;
        border-radius: 50%;
        background-color: map-get($colors, main);
        animation: pulse 4s linear infinite;
    }

    @media only screen and (max-width: 768px) {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    .home-content>section, .section-1-text, .section-2-text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .home-main, .section-1-text, .section-2-text {
        p {
            width: 90%;
        }
    }
}

@keyframes pulse {
    0% {
        box-shadow: 
        0 0 0 0 #A9F291, 
        0 0 0 0 #A9F291;
    }
    25% {
        box-shadow: 
        0 0 0 10px #A9F29120, 
        0 0 0 5px #A9F29120;
    }
    50% {
        box-shadow: 
        0 0 0 20px #A9F29120, 
        0 0 0 0 #A9F291;
    }
    75% {
        box-shadow: 
        0 0 0 20px #A9F29120, 
        0 0 0 10px #A9F29120;
    }
    100% {
        box-shadow: 
        0 0 0 20px #A9F29120, 
        0 0 0 10px #A9F29120;
    }
}
