@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

:root {
    --main-color: #3E8A53;
    --secondary-color: #A9F291;
    --terciary-color: #F4EE91;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: 'Rajdhani', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}
/*---------------------------------------------------- HEADER ---------------------------------------------------------------------*/

.logo-img {
    width: 100px;
    height: 100px;
    padding: 10px;
}

.nav-container {
    position: fixed;
    width: 100%;
    z-index: 10;
    height: 120px;
    background-color: var(--main-color);
}

.container-fluid {
    font-size: 30px;
    background-color: var(--main-color);
}

.nav-item>a:hover {
    color: var(--secondary-color);
}
/*---------------------------------------------- CONTENT CONTAINER ----------------------------------------------------------------*/

.content-container {
    width: 90%;
    align-self: center;
    padding-top: 120px;
    margin: 50px 0;
}

/*---------------------------------------------------- HOME -----------------------------------------------------------------------*/

.home-content {
    display: flex;
    flex-direction: column;
    font-size: 24px;
}

.home-title {
    width: 50%;
    align-self: center;
    padding-bottom: 20px;
    border-bottom: var(--main-color) 2px solid;
}

.home-main {
    text-align: center;
}

.home-main>h1 {
    font-size: 68px;
    text-align: center;
}

.img-main-section {
    display: flex;
    justify-content: center;
}

.img-main-section :nth-child(2) {
    margin: 0 3%;
}

.img-main-section>img {
    width: 25%;
}

.home-section-1>img, .home-section-2>img {
    width: 50%;
    align-self: center;
}

.section-1-text, .section-2-text {
    align-self: center;
}

.section-1-text>h2, .section-2-text>h2 {
    font-size: 55px;
}

.home-main>h1, .section-1-text>h2, .section-2-text>h2 {
    color: var(--main-color);
}

.home-section-1 {
    display: flex;
    padding: 20px 0;
}

.home-section-2 {
    display: flex;
    flex-direction: row-reverse;
    text-align: right;
}

@media only screen and (max-width: 768px) {
    .home-title {
        display: none;
    }

    .home-main>h1 {
    font-size: 28px;
    }

    .img-main-section>img {
        width: 30%;
    }

    .section-1-text>h2, .section-2-text>h2 {
        font-size: 24px;
    }

    .home-content {
        font-size: 14px;
    }

    .home-section-1, .home-section-2 {
        flex-direction: column;
        text-align: center;
    }

    .home-section-1>img, .home-section-2>img {
        width: 100%;
    }

    .home-section-1 {
        border-top: var(--secondary-color) 5px solid;
        border-bottom: var(--secondary-color) 5px solid;
        margin: 20px 0;
    }
    
}

/* .main-section>h1, .section>h2, .products-section>h2, .message-box>h2 {
    text-align: center;
    padding-bottom: 30px;
    color: var(--main-color);
}

.main-section>h1, .products-section>h2 {
    font-size: 68px;
    font-weight: 700;
}

.section>h2, .message-box>h2 {
    font-size: 55px;
}

.main-section, .section {
    text-align: center;
    font-size: 24px;
}

#section-2 {
    position: absolute;
    left: 60%;
    top: 0;
}

.main-section {
    position: relative;
    left: 10%;
    width: 80%;
    padding-bottom: 50px;
    border-bottom: var(--main-color) 20px solid;
    margin-bottom: 50px;
}

.section-container {
    position: relative;
    left: 10%;
    width: 80%;
}

.section {
    width: 40%;
}

.section>img {
    width: 70%;
    padding: 20px 0;
}

.products-container {
    font-size: 16px;
    font-weight: 500;
}

.product {
    text-align: center;
    width: 30%;
    display: inline-block;
    padding: 20px 1.5%;
}

.product>h3, .product>h4 {
    color: var(--main-color);
    text-transform: uppercase;
    font-size: 16px;
    padding: 15px 0;
}

.product>h3 {
    font-weight: 700;
}

.product>h4 {
    font-weight: 600;
}

.product>img {
    width: 60%;
}

.shopping-bar, .library-bar {
    height: 50px;
}

.search-bar {
    width: 40%;
    height: 50px;
    background-color: var(--secondary-color);
    border-radius: 50px;
    padding: 0 10px;
}

.search-bar>p, .filter-box>p {
    display: inline;
    font-size: 25px;
    color: var(--main-color);
    font-weight: 500;
    padding-left: 20px;
    position: relative;
    bottom: 15px;
}

.filter-box {
    position: relative;
    left: 75%;
    top: -50px;
    width: 15%;
    height: 50px;
    background-color: var(--secondary-color);
    border-radius: 50px;
}

.filter-box>img, .shopping-cart>img {
    width: 50px;
    height: 50px;
}

.shopping-cart {
    position: relative;
    left: 90%;
    top: -100px;
}

.titles {
    list-style-type: none;
    color: var(--main-color);
    font-size: 40px;
    font-weight: 700;
    padding-top: 10px;
}

.items {
    list-style-type: none;
    color: var(--main-color);
    font-size: 30px;
    font-weight: 400;
    padding-top: 10px;
}

.title {
    width: 35%;
}

.autor {
    width: 23%;
}

.year {
    width: 6%;
}

.downloads {
    width: 20%;
}

.link {
    width: 9%;
}

.year, .downloads, .link {
    text-align: center;
}

.titles>div, .items>div {
    display: inline-block;
}

.library-list {
    padding: 50px;
}

.contact-container {
    width: 80%;
    padding: 0 10%;
}

.message-box {
    position: relative;
    bottom: 150px;
    display: inline-block;
    width: 65%;
    padding: 20px 0;
}
.message-box>div {
    width: 90%;
    padding: 0 5%;
    background-color: var(--secondary-color);
    border-radius: 20px;
    height: 300px;
    font-size: 30px;
    font-weight: 600;
}

.message-box>p {
    font-size: 30px;
    font-weight: 600;
    padding: 10px 0;
}

.send {
    text-align: end;
}

.contact-data {
    width: 30%;
    display: inline-block;
    padding: 0 2%;
}

.contact, .social-media {
    list-style-type: none;
    color: var(--main-color);
}

.social-media>iframe {
    width: 100%;
    height: 300px;
    border-radius: 20px;
} */

/*---------------------------------------------------- FOOTER ---------------------------------------------------------------------*/

.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--main-color);
}

.info-container {
    display: flex;
    justify-content: space-around;
    color: white;
}

.info-container>ul {
    list-style-type: none;
    padding-top: 20px;
    font-size: 16px;
}

.info-container>ul>li {
    padding-bottom: 10px;
}

.info-container>ul>li>h3 {
    font-size: 30px;
    text-transform: uppercase;
    color: var(--terciary-color);
}

.info-container>ul>li>img {
    padding-right: 10px;
    max-width: 40px;
    min-width: 20px;
    width: 10%;
}

.footer-section {
    width: 30%;
}

.media-icons {
    display: none;
}

.copyright-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: var(--secondary-color);
}

@media only screen and (max-width: 768px) {
    .info-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
    }

    .info-container>ul>li>h3 {
        font-size: 24px;
    }

    .footer-section {
        width: 50%;
    }

    .media-info {
        display: none;
    }

    .media-icons {
        display: flex;
        justify-content: center;
    }

    .media-icons>a {
        padding: 10px;
    }

    .media-icons>a:active {
        background-color: var(--secondary-color);
        border-radius: 50px;
    }
}