@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

:root {
    --main-color: #3E8A53;
    --secondary-color: #A9F291;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: 'Rajdhani', sans-serif;
}

header {
    padding-bottom: 20px;
}

.logo-container {
    position: fixed;
    z-index: 10;
    height: 150px;
    width: 100%;
    background-color: #D4F9C8;
    padding: 0 5%;
}

.header-logo {
    display: inline;
    width: 8%;
    padding-right: 1%;
}

.header-text {
    display: inline;
    width: 45%;
}

nav {
    position: fixed;
    z-index: 10;
    width: 100%;
    top: 150px;
    left: 0;
    height: 50px;
    background-color: var(--main-color);
}

nav>ul>li {
    display: inline;
    color: black;
    font-weight: 500;
    font-size: 26px;
    padding: 0 5%;
    text-align: center;
}

.img-container {
    height: 350px;
    background-image: url('media/header-background.jpg');
    background-size: cover;
}

.main-section>h1, .section>h2, .products-section>h2, .message-box>h2 {
    text-align: center;
    padding-bottom: 30px;
    color: var(--main-color);
}

.main-section>h1, .products-section>h2 {
    font-size: 68px;
    font-weight: 700;
}

.section>h2, .message-box>h2 {
    font-size: 55px;
}

.main-section, .section {
    text-align: center;
    font-size: 24px;
}

#section-2 {
    position: absolute;
    left: 60%;
    top: 0;
}

.main-section {
    position: relative;
    left: 10%;
    width: 80%;
    padding-bottom: 50px;
    border-bottom: var(--main-color) 20px solid;
    margin-bottom: 50px;
}

.section-container {
    position: relative;
    left: 10%;
    width: 80%;
}

.section {
    width: 40%;
}

.section>img {
    width: 70%;
    padding: 20px 0;
}

.products-container {
    font-size: 16px;
    font-weight: 500;
}

.product {
    text-align: center;
    width: 30%;
    display: inline-block;
    padding: 20px 1.5%;
}

.product>h3, .product>h4 {
    color: var(--main-color);
    text-transform: uppercase;
    font-size: 16px;
    padding: 15px 0;
}

.product>h3 {
    font-weight: 700;
}

.product>h4 {
    font-weight: 600;
}

.product>img {
    width: 60%;
}

.shopping-bar, .library-bar {
    height: 50px;
}

.search-bar {
    width: 40%;
    height: 50px;
    background-color: var(--secondary-color);
    border-radius: 50px;
    padding: 0 10px;
}

.search-bar>p, .filter-box>p {
    display: inline;
    font-size: 25px;
    color: var(--main-color);
    font-weight: 500;
    padding-left: 20px;
    position: relative;
    bottom: 15px;
}

.filter-box {
    position: relative;
    left: 75%;
    top: -50px;
    width: 15%;
    height: 50px;
    background-color: var(--secondary-color);
    border-radius: 50px;
}

.filter-box>img, .shopping-cart>img {
    width: 50px;
    height: 50px;
}

.shopping-cart {
    position: relative;
    left: 90%;
    top: -100px;
}

.titles {
    list-style-type: none;
    color: var(--main-color);
    font-size: 40px;
    font-weight: 700;
    padding-top: 10px;
}

.items {
    list-style-type: none;
    color: var(--main-color);
    font-size: 30px;
    font-weight: 400;
    padding-top: 10px;
}

.title {
    width: 35%;
}

.autor {
    width: 23%;
}

.year {
    width: 6%;
}

.downloads {
    width: 20%;
}

.link {
    width: 9%;
}

.year, .downloads, .link {
    text-align: center;
}

.titles>div, .items>div {
    display: inline-block;
}

.library-list {
    padding: 50px;
}

.contact-container {
    width: 80%;
    padding: 0 10%;
}

.message-box {
    position: relative;
    bottom: 150px;
    display: inline-block;
    width: 65%;
    padding: 20px 0;
}
.message-box>div {
    width: 90%;
    padding: 0 5%;
    background-color: var(--secondary-color);
    border-radius: 20px;
    height: 300px;
    font-size: 30px;
    font-weight: 600;
}

.message-box>p {
    font-size: 30px;
    font-weight: 600;
    padding: 10px 0;
}

.send {
    text-align: end;
}

.contact-data {
    width: 30%;
    display: inline-block;
    padding: 0 2%;
}

.contact, .social-media {
    list-style-type: none;
    color: var(--main-color);
}

.social-media>iframe {
    width: 100%;
    height: 300px;
    border-radius: 20px;
}

.footer-container {
    height: 300px;
    background-color: var(--main-color);
}

.footer-container>ul {
    width: 30%;
    padding: 0 1%;
}

footer>div>ul {
    display: inline-block;
    list-style-type: none;
    color: white;
}

footer>div>ul>li {
    font-size: 20px;
}

footer>div>ul>li>img {
    padding-right: 14px;
}

h3 {
    font-size: 24px;
    font-weight: 700;
}

.footer-services {
    position: relative;
    top: -40px;
}

.copyright-container {
    height: 50px;
    background-color: var(--secondary-color);
}

.copyright-container>p {
    padding: 15px 0 15px 10px;
}