@import '../base/variables';
@import '../base/extends';

/*--------------------------------------------------- CONTACT ---------------------------------------------------------------------*/

.contact-content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: 
    "title title"
    "message data";
    h2 {
        @extend .titles;
        text-align: center;
        grid-area: title;
        @media only screen and (max-width: 768px) {
            font-size: 28px;
            font-weight: 600;
            text-align: center;
            } 
    }
    @media only screen and (max-width: 768px) {
        display: flex;
        flex-direction: column;
    } 
}

.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    grid-area: message;
    h3 {
        color: map-get($colors, main);
        font-size: 28px;
        @media only screen and (max-width: 768px) {
            font-size: 22px;
        }  
    }
    div {
        label {
            font-size: 20px;
            color: map-get($colors, main);
            @media only screen and (max-width: 768px) {
                font-size: 16px;
            }  
        }
    }
    @media only screen and (max-width: 768px) {
        width: 90%;
    } 
}

.name-input, .email-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#name, #email {
    width: 85%;
    height: 50px;
    background-color: map-get($colors, secondary);
    border: none;
    border-radius: 50px;
    padding: 0 20px;
    margin: 10px 0;
}

.message-box {
    min-height: 200px;
    max-height: 500px   ;
    background-color: map-get($colors, secondary);
    border: none;
    border-radius: 20px;
    padding: 20px;
    margin-top: 10px;
}

.submit-input {
    width: fit-content;
    background-color: white;
    border: none;
    text-transform: uppercase;
    align-self: flex-end;
    font-size: 20px;
    color: map-get($colors, main);
    font-weight: 600;
    padding: 0 10px;
    margin: 10px 0;
    &:hover {
        background-color: map-get($colors, terciary);
        border-radius: 50px;
        padding: 0 10px;
    }
    &:active {
        @media only screen and (max-width: 768px) {
            background-color: map-get($colors, terciary);
            border-radius: 50px;
            padding: 0 10px;
        }
    }
    @media only screen and (max-width: 768px) {
        font-size: 16px;
    } 
}

.contact-data {
    grid-area: data;
    ul {
        list-style-type: none;
        color: map-get($colors, main);
        li {
            img {
                padding-right: 10px;
            }
            &:not(:last-child) {
                padding-bottom: 10px;
            }
        }
    }
}

.map {
    width: 100%;
    height: 200px;
    border-radius: 20px;
}

.contact, .social-media {
    @media only screen and (max-width: 768px) {
        display: none;
    } 
}

.map-section {
    li {
        h3 {
            @media only screen and (max-width: 768px) {
                font-size: 28px;
                font-weight: 600;
                text-align: center;
            }
        }
    }
    @media only screen and (max-width: 768px) {
        padding: 0;
    }
}