/*---------------------------------------------------- FOOTER ---------------------------------------------------------------------*/

.footer-container {
    @include flex (column, space-between);
    background-color: map-get($colors, main);
}

.info-container {
    @include flex ($justify: space-around);
    color: white;
    ul {
        padding-top: 20px;
        font-size: map-get(map-get(map-get(map-get($tipography, desktop), footer), list-items), font-size);
        list-style-type: none;
        li {
            padding-bottom: 10px;
            h3 {
                font-size: map-get(map-get(map-get(map-get($tipography, desktop), footer), titles), font-size);
                text-transform: map-get(map-get(map-get(map-get($tipography, desktop), footer), titles), transform);
                color: map-get(map-get(map-get(map-get($tipography, desktop), footer), titles), color);
                @media only screen and (max-width: 768px) {
                    font-size: map-get(map-get(map-get(map-get($tipography, mobile), footer), titles), font-size);
                }
            }
            img {
                max-width: 40px;
                min-width: 20px;
                width: 10%;
                padding-right: 10px;
            }
        }
    }
    @media only screen and (max-width: 768px) {
        @include flex (column, flex-start, center);
        color: white;
    }
}

.footer-section {
    width: 30%;
    @media only screen and (max-width: 768px) {
        width: 50%;
    }
}

.media-icons {
    display: none;
    a {
        &:active {
            @media only screen and (max-width: 768px) {
                background-color: map-get($colors, secondary);
                border-radius: 50px;
            }
        }
        @media only screen and (max-width: 768px) {
            padding: 10px;
        }
    }
    @media only screen and (max-width: 768px) {
        @include flex ($justify: center);
    }
}

.copyright-container {
    @include flex (row, center, center);
    height: 50px;
    background-color: map-get($colors, secondary);
}

.media-info {
    @media only screen and (max-width: 768px) {
        display: none;
    }
}