/*---------------------------------------------------- FOOTER ---------------------------------------------------------------------*/

.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: map-get($colors, main);
}

.info-container {
    display: flex;
    justify-content: space-around;
    color: white;
    ul {
        padding-top: 20px;
        font-size: 16px;
        list-style-type: none;
        li {
            padding-bottom: 10px;
            h3 {
                font-size: 30px;
                text-transform: uppercase;
                color: map-get($colors, terciary);
                @media only screen and (max-width: 768px) {
                    font-size: 24px;
                } 
            }
            img {
                max-width: 40px;
                min-width: 20px;
                width: 10%;
                padding-right: 10px;
            }
        }
    }
    @media only screen and (max-width: 768px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
    } 
}

.footer-section {
    width: 30%;
    @media only screen and (max-width: 768px) {
        width: 50%;
    } 
}

.media-icons {
    display: none;
    a {
        &:active {
            @media only screen and (max-width: 768px) {
                background-color: map-get($colors, secondary);
                border-radius: 50px;
            }
        }
        @media only screen and (max-width: 768px) {
            padding: 10px;
        }
    }
    @media only screen and (max-width: 768px) {
        display: flex;
        justify-content: center;
    } 
}

.copyright-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: map-get($colors, secondary);
}

.media-info {
    @media only screen and (max-width: 768px) {
        display: none;
    } 
}