/*---------------------------------------------------- HOME -----------------------------------------------------------------------*/

.home-content {
    @include flex (column);
    font-size: map-get(map-get(map-get($tipography, desktop), texts), font-size);
    @media only screen and (max-width: 768px) {
        font-size: map-get(map-get(map-get($tipography, mobile), texts), font-size);
    }
}

.home-title {
    align-self: center;
    width: 50%;
    padding-bottom: 20px;
    border-bottom: map-get($colors, main) 2px solid;
    animation: bounce-top 0.9s both;
    @media only screen and (max-width: 768px) {
        display: none;
    }
}

.home-main {
    text-align: center;
    h1 {
        color: map-get($colors, main);
        font-size: map-get(map-get(map-get($tipography, desktop), titles), font-size);
        text-align: center;
        font-weight: map-get(map-get(map-get($tipography, desktop), titles), main-title-w);
        text-shadow: 1px 1px 5px map-get($colors, terciary);
        @media only screen and (max-width: 768px) {
            font-size: map-get(map-get(map-get($tipography, mobile), titles), font-size);
        }
    }
}

.img-main-section {
    @include flex ($justify: center);
    :nth-child(2) {
        margin: 0 3%;
    }
    img {
        width: 25%;
        @media only screen and (max-width: 768px) {
            width: 30%;
        }
    }
}

.home-section-1, .home-section-2 {
    display: flex;
    img {
        width: 50%;
        align-self: center;
        @media only screen and (max-width: 768px) {
            width: 100%;
        }
    }
    @media only screen and (max-width: 768px) {
        flex-direction: column;
        text-align: center;
    }
}

.home-section-1 {
    padding: 20px 0;
    @media only screen and (max-width: 768px) {
        margin: 20px 0;
        border-top: map-get($colors, secondary) 5px solid;
        border-bottom: map-get($colors, secondary) 5px solid;
    }
}

.home-section-2 {
    flex-direction: row-reverse;
    text-align: right;
    @media only screen and (max-width: 768px) {
        text-align: center;
    }
}

.section-1-text, .section-2-text {
    align-self: center;
    h2 {
        color: map-get($colors, main);
        font-size: map-get(map-get(map-get($tipography, desktop), titles), font-size);
        @media only screen and (max-width: 768px) {
            font-size: map-get(map-get(map-get($tipography, mobile), titles), font-size);
        }
    }
}

@keyframes bounce-top {
    0% {
      -webkit-transform: translateY(-45px);
              transform: translateY(-45px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 1;
    }
    24% {
      opacity: 1;
    }
    40% {
      -webkit-transform: translateY(-24px);
              transform: translateY(-24px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    65% {
      -webkit-transform: translateY(-12px);
              transform: translateY(-12px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    82% {
      -webkit-transform: translateY(-6px);
              transform: translateY(-6px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    93% {
      -webkit-transform: translateY(-4px);
              transform: translateY(-4px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    25%,
    55%,
    75%,
    87% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    100% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
}