@import '../base/variables';
@import '../base/extends';

/*---------------------------------------------------- HOME -----------------------------------------------------------------------*/

.home-content {
    display: flex;
    flex-direction: column;
    font-size: map-get(map-get(map-get($tipography, desktop), text), font-size);
}

.home-title {
    width: 50%;
    align-self: center;
    padding-bottom: 20px;
    border-bottom: map-get($colors, main) 2px solid;
}

.home-main {
    text-align: center;
    h1 {
        @extend .titles;
        text-align: center;
        font-weight: map-get(map-get(map-get($tipography, desktop), titles), main-title-w);
    }
}

.img-main-section {
    display: flex;
    justify-content: center;
    :nth-child(2) {
        margin: 0 3%;
    }
    img {
        width: 25%;
    }
}

.home-section-1, .home-section-2 {
    display: flex;
    img {
        width: 50%;
        align-self: center;
    }
}

.home-section-1 {
    padding: 20px 0;
}

.home-section-2 {
    flex-direction: row-reverse;
    text-align: right;
}

.section-1-text, .section-2-text {
    align-self: center;
    h2 {
        @extend .titles
    }
}

@media only screen and (max-width: 768px) {
    .home-title {
        display: none;
    }

    .home-main {
        h1 {
            font-size: 28px;
        }
    }

    .img-main-section {
        img {
            width: 30%;
        }
    }

    .section-1-text, .section-2-text {
        h2 {
            font-size: 24px;
        }
    }

    .home-content {
        font-size: 16px;
    }

    .home-section-1, .home-section-2 {
        flex-direction: column;
        text-align: center;
        img {
            width: 100%;
        }
    }

    .home-section-1 {
        border-top: map-get($colors, secondary) 5px solid;
        border-bottom: map-get($colors, secondary) 5px solid;
        margin: 20px 0;
    }
    
}