/*---------------------------------------------------- LIBRARY --------------------------------------------------------------------*/

.library-bar {
    @include flex ($justify: space-between);
    margin-bottom: 20px;
}

.library-section {
    h2 {
        @extend %section-titles-center;
        font-family: map-get(map-get(map-get($tipography, desktop), titles), font-family), sans-serif;
        @media only screen and (max-width: 768px) {
            font-size: map-get(map-get(map-get($tipography, mobile), titles), font-size);
            font-weight: map-get(map-get(map-get($tipography, desktop), titles), main-title-w);
        }
    }
}

.library-list {
    @include flex (column);
}

.list-titles, .list-items {
    display: grid;
    grid-template-columns: auto 25% 7% 20% 5%;
}

.list-titles {
    color: map-get($colors, main);
    font-size: map-get(map-get(map-get(map-get($tipography, desktop), lists), titles), font-size);
    font-weight: map-get(map-get(map-get(map-get($tipography, desktop), lists), titles), weight);
}

.list-items {
    padding-top: 10px;
    color: map-get($colors, main);
    font-size: map-get(map-get(map-get(map-get($tipography, desktop), lists), items), font-size);
    font-weight: map-get(map-get(map-get(map-get($tipography, desktop), lists), items), weight);
    &:hover {
        background-color: map-get($colors, secondary-50);
    }
    &:not(:last-child) {
        border-bottom: map-get($colors, secondary) 1px solid;
    }
    @media only screen and (max-width: 768px) {
        grid-template-columns: repeat(8, 1fr);
        grid-template-areas:
        "title title title title title title title title"
        "empty empty empty empty autor autor autor link";
    }
}

.link {
    @include flex ($justify: center);
    @media only screen and (max-width: 768px) {
        grid-area: link;
    }
}

.year, .downloads, .link {
    text-align: center;
}

.autor, .year, .downloads, .link {
    align-self: center;
}

.list-titles, .year, .downloads {
    @media only screen and (max-width: 768px) {
        display: none;
    }
}

.title {
    @media only screen and (max-width: 768px) {
        grid-area: title;
        font-size: 20px;
        font-weight: 600;
    }
}

.autor {
    @media only screen and (max-width: 768px) {
        grid-area: autor;
        font-size: 20px;
        font-style: italic;
    }
}