/*-------------------------------------------------- PRODUCTS ----------------------------------------------------------------------*/

.plants-section {
    display: grid;
    grid-template-areas:
    "title title title"
    "card1 card2 card3"
    "card4 card5 card6";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 1fr 1fr;
    gap: 1rem;
    .carousel {
        display: none;
    }
}

.plants-section-title {
    grid-area: title;
    text-align: center;
    font-size: map-get(map-get(map-get($tipography, desktop), texts), font-size);
    h2 {
        font-family: map-get(map-get(map-get($tipography, desktop), titles), font-family), sans-serif;
        @extend %section-titles-general;
    }
    &:nth-child(2) {
        grid-area: card1;
    }
    &:nth-child(3) {
        grid-area: card2;
    }
    &:nth-child(4) {
        grid-area: card3;
    }
    &:nth-child(5) {
        grid-area: card4;
    }
    &:nth-child(6) {
        grid-area: card5;
    }
    &:nth-child(7) {
        grid-area: card6;
    }
}

.products-section {
    display: grid;
    grid-template-areas:
    "title title title"
    "card1 card2 card3";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 1fr;
    gap: 1rem;
    h2 {
        font-family: map-get(map-get(map-get($tipography, desktop), titles), font-family), sans-serif;
    }
    &:nth-child(2) {
        grid-area: card1;
    }
    &:nth-child(3) {
        grid-area: card2;
    }
    &:nth-child(4) {
        grid-area: card3;
    }
    .carousel {
        display: none;
    }
}

.products-section-title {
    grid-area: title;
    text-align: center;
    font-size: map-get(map-get(map-get($tipography, desktop), texts), font-size);
    h2 {
        @extend %section-titles-general;
    }
}

.card-img-top {
    height: 300px;
    object-fit: cover;
}

.card-body {
    text-align: center;
    h5, a {
        color: map-get($colors, main);
        text-transform: uppercase;
        font-weight: 600;
        text-decoration: none;
    }
    a {
        &:hover {
            padding: 0 10px;
            background-color: map-get($colors, terciary);
            border-radius: 50px;
        }
    }
}

.card-link {
    width: fit-content;
    align-self: center;
    margin: 10px;
    color: map-get($colors, main);
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    &:hover {
        padding: 0 10px;
        background-color: map-get($colors, terciary);
        border-radius: 50px;
    }
}


@media only screen and (max-width: 768px) {
    .plants-section-title, .products-section-title {
        p {
            font-size: map-get(map-get(map-get($tipography, mobile), texts), font-size);
        }
        h2 {
            font-size: map-get(map-get(map-get($tipography, mobile), titles), font-size);
            font-weight: map-get(map-get(map-get($tipography, mobile), titles), main-title-w);
        }
    }

    .plants-section>.card, .products-section>.card {
        display: none;
    }

    .plants-section, .products-section {
        @include flex (column, $align: center);
        .carousel {
            display: flex;
        }
    }

    .card-body {
        a {
            &:active {
                padding: 0 10px;
                background-color: map-get($colors, terciary);
                border-radius: 50px;
            }
        }
    }
}