/*-------------------------------------------------- PRODUCTS ----------------------------------------------------------------------*/

.plants-section {
    display: grid;
    grid-template-areas: 
    "title title title"
    "card1 card2 card3"
    "card4 card5 card6";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 1fr 1fr;
    gap: 1rem;
}

.plants-section-title {
    grid-area: title;
    text-align: center;
    font-size: 24px;
}

.plants-section-title>h2 {
    color: var(--main-color);
    font-size: 68px;
}

.plants-section:nth-child(2) {
    grid-area: card1;
}

.plants-section:nth-child(3) {
    grid-area: card2;
}

.plants-section:nth-child(4) {
    grid-area: card3;
}

.plants-section:nth-child(5) {
    grid-area: card4;
}

.plants-section:nth-child(6) {
    grid-area: card5;
}

.plants-section:nth-child(7) {
    grid-area: card6;
}

.products-section {
    display: grid;
    grid-template-areas: 
    "title title title"
    "card1 card2 card3";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 1fr;
    gap: 1rem;
}

.products-section-title {
    grid-area: title;
    text-align: center;
    font-size: 24px;
}

.products-section-title>h2 {
    color: var(--main-color);
    font-size: 68px;
}

.products-section:nth-child(2) {
    grid-area: card1;
}

.products-section:nth-child(3) {
    grid-area: card2;
}

.products-section:nth-child(4) {
    grid-area: card3;
}

.card-img-top {
    height: 300px;
    object-fit: cover;
}

.card-body {
    text-align: center;
}

.card-body>h5, .card-body>a {
    color: var(--main-color);
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
}

.card-body>a:hover {
    background-color: var(--terciary-color);
    border-radius: 50px;
    padding: 0 10px;
}

.plants-section>.carousel, .products-section>.carousel {
    display: none;
}

@media only screen and (max-width: 768px) {
    .plants-section-title>p, .products-section-title>p {
        font-size: 18px;
    }

    .plants-section-title>h2, .products-section-title>h2 {
        font-size: 28px;
        font-weight: 600;
    }

    .plants-section>.card, .products-section>.card {
        display: none;
    }

    .plants-section, .products-section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .plants-section>.carousel, .products-section>.carousel {
        display: flex;
    }

    .card-body>a:active {
        background-color: var(--terciary-color);
        border-radius: 50px;
        padding: 0 10px;
    }
}