/*----------------------------------------------------- SHOP ----------------------------------------------------------------------*/

.shopping-bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.shopping-buttons {
    width: 30%;
    display: flex;
    justify-content: flex-end;
}

.filter-box {
    height: 50px;
    background-color: map-get($colors, secondary);
    border-radius: 50px;
    padding: 10px;
}

.shop-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    h2 {
        color: map-get($colors, main);
        font-size: 68px;
        text-align: center;
    }
}

.search-bar, .filter-box, .shopping-cart {
    display: flex;
    align-items: center;
    font-size: 25px;
}

.search-bar, .filter-box {
    p {
        margin-top: 1rem;
        padding: 0 10px;
        color: map-get($colors, main);
    }
}

.search-bar {
    width: 50%;
    height: 50px;
    background-color: map-get($colors, secondary);
    border-radius: 50px;
    padding: 0 10px;
}

.shopping-cart {
    background-color: map-get($colors, secondary);
    border-radius: 50px;
    height: 50px;
    padding: 10px;
    margin-left: 10px;
}

.card-img-top {
    padding-bottom: 10px;
}

.card-body {
    h5 {
        &:nth-of-type(2) {
            color: map-get($colors, secondary);
        }
    }
}

.shop-cards-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

@media only screen and (max-width: 768px) {
    .shop-content {
        h2 {
            font-size: 28px;
            font-weight: 600;
        }
    }

    .shop-cards-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .filter-box {
        p {
            display: none;
        }
    }

    .search-bar {
        p {
            font-size: 20px;
        }
    }
}