/*----------------------------------------------------- SHOP ----------------------------------------------------------------------*/

.shopping-bar {
    @include flex ($justify: space-between);
    margin-bottom: 20px;
}

.shopping-buttons {
    @include flex ($justify: flex-end);
    width: 30%;
}

.filter-box {
    height: 50px;
    padding: 10px;
    background-color: map-get($colors, secondary);
    border-radius: 50px;
}

.shop-content {
    @include flex (column, center);
    h2 {
        color: map-get($colors, main);
        font-size: map-get(map-get(map-get($tipography, desktop), titles), font-size);
        text-align: center;
    }
}

.search-bar, .filter-box, .shopping-cart {
    @include flex ($align: center);
    font-size: 25px;
}

.search-bar, .filter-box {
    p {
        margin-top: 1rem;
        padding: 0 10px;
        color: map-get($colors, main);
    }
}

.search-bar {
    width: 50%;
    height: 50px;
    padding: 0 10px;
    background-color: map-get($colors, secondary);
    border-radius: 50px;
    input {
        width: calc(100% - 49px);
        background-color: #00000000;
        border: none;
        &:focus-visible {
            outline: none;
        }
    }
}

.shopping-cart {
    height: 50px;
    margin-left: 10px;
    padding: 10px;
    background-color: map-get($colors, secondary);
    border-radius: 50px;
}

.card-img-top {
    padding-bottom: 10px;
}

.card-body {
    h5 {
        &:nth-of-type(2) {
            color: map-get($colors, secondary);
        }
    }
}

.shop-cards-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

@media only screen and (max-width: 768px) {
    .shop-content {
        h2 {
            font-size: map-get(map-get(map-get($tipography, mobile), titles), font-size);
            font-weight: map-get(map-get(map-get($tipography, mobile), titles), main-title-w);
        }
    }

    .shop-cards-section {
        display: flex;
        @include flex (column, center);
    }

    .filter-box {
        p {
            display: none;
        }
    }

    .search-bar {
        p {
            font-size: map-get(map-get(map-get($tipography, mobile), texts), font-size);
        }
    }
}